<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="container">
        <div class="main-content">
            <img class="weather" src="img/weather.png" alt="weather icon">
            {{>header}}
            <img class='portrait' src="img/arun.jpg" alt="vishal">
            <p>I'm an engineer and currently I'm persuing my B.tech,3rd year in computer science from <a href="http://bietjhs.ac.in/" >BIET</a>,Jhansi(Uttar Pradesh)</p>
        </div>
        {{>footer}}
    </div>
</body>

</html>